<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <div id="img_QRCode_top"><img src="./assets/img/QRCode_top.png"/></div>
  <ion-button id="button_scan" expand="full" color="primary" (click)="scanCode()">
    Démarrer le scan
  </ion-button>

  <div id="img_QRCode_bottom"><img src="./assets/img/QRCode_bottom.png"/></div>


<ion-content id='explications'>
  <ion-text>
   • Approchez le téléphone proche du QR-code <br>
   • Visez le code de tel sorte qu'il se trouve au centre du carré <br>
   • Attendez un instant en restant imobile <br>
   • Voila c'est fait ! <br>
  </ion-text>
</ion-content>
</ion-content>
