<<<<<<< HEAD

=======
.img_QRCode_top{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.img_QRCode_bottom{
    text-align: center;
}
#button_scan{
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}
>>>>>>> 8e7338b0b43d99b386260e3d04a01800ac276488
