<ion-header>
  <ion-toolbar>
    <ion-title>
      ANALYZE    
    </ion-title>
  </ion-toolbar>
</ion-header>


  <!-- Default Toggle 
    <ion-content fullscreen class="ion-padding">

  <ion-list>
<ion-item>
  <ion-label>Thermomètre</ion-label>
  <ion-toggle slot="start" name="thermometre" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Localisation</ion-label>
  <ion-toggle slot="start" name="localisation"  checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Luminosité </ion-label>
  <ion-toggle slot="start" name="luminosite" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Micro</ion-label>
  <ion-toggle slot="start" name="micro" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Caméra</ion-label>
  <ion-toggle slot="start" name="camera" checked></ion-toggle>
</ion-item>
</ion-list>

</ion-content>-->
<ion-content>
    <div id="img_Logo_up13"><img src="./assets/img/univ-p13.jpg"/></div>
</ion-content>
<!-- Interface to start or stop ANALYZE with start/stop button-->
<ion-content class="starting_interface">
  <!-- Start button-->
  <ion-button expand="full" color="primary" (click)="locationRepeat()">Start analyze</ion-button>
  <!-- Stop button-->
  <ion-button expand="full" color="danger" (click)="stopLocation()">Stop analyze</ion-button>
</ion-content>