<ion-header>
  <ion-toolbar>
    <ion-title>
      AUTORISATIONS    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <!-- Default Toggle -->
  <ion-list>
<ion-item>
  <ion-label>Thermomètre</ion-label>
  <ion-toggle slot="start" name="thermometre" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Localisation</ion-label>
  <ion-toggle slot="start" name="localisation"  checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Luminosité </ion-label>
  <ion-toggle slot="start" name="luminosite" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Micro</ion-label>
  <ion-toggle slot="start" name="micro" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Caméra</ion-label>
  <ion-toggle slot="start" name="camera" checked></ion-toggle>
</ion-item>
</ion-list>



</ion-content>